li::marker
  content: '•'

summary span.category, tr.recipe th.title
  font-weight: bold

tr.recipe td.source
  font-style: italic
  font-weight: lighter

table a:link
  text-decoration: none

td span.tag a
  background-color: var(--pico-primary-border)
  border-radius: 10em
  color: var(--pico-muted-border-color)
  padding: 4px 8px

div.sidebar 
  width: 230px
  position: fixed
  z-index: 1
  overflow-x: hidden
  padding: 8px 0

figure.content
  margin-left: 240px
  padding: 0px 10px
