ul li {
  list-style-type: circle;
}

ul li.checked {
  font-style: italic;
  list-style-type: "✔";
  text-decoration: line-through;
}

details summary::after {
  display: inline-block;
}

h2.collapsed,h3.collapsed {
  display: none;
}

summary span.category, tr.recipe th.title {
  font-weight: bold;
}

tr.recipe td.source {
  font-style: italic;
  font-weight: lighter;
}

div.metadata, div.grid {
  display: grid;

  @media (min-width: 0px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

details.filters span a:link, table a:link {
  text-decoration: none;
}

details.filter span a, td span.tag a {
  background-color: var(--pico-primary-border);
  border-radius: 10em;
  color: var(--pico-muted-border-color);
  padding: 4px 8px;
}
