{% extends "_layout.html" %}
{% block content -%}
<h1>Recipes</h1>
{% for (idx, (category, recipes)) in recipes.iter().enumerate() -%}
<details class="section">
  {%- let class -%}
  {%- if idx % 2 == 0 -%}
    {%- let class = "" -%}
  {%- else -%}
    {%- let class = "secondary" -%}
  {% endif %}
  <summary class="{{ class }}">
    <span class="category"><a href="/search?query=category:{{ category.to_lowercase() }}">{{ category }}</a></span>
    <span class="count">({{ recipes.len() }} recipes)</span>
  </summary>
  <table class="list striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Source</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
  {%- for recipe in recipes.iter() -%}
    {%- if let Some(metadata) = recipe.metadata() -%}
      <tr class="recipe">
        <th scope="row" class="title"><a href="/recipe/{{ metadata.id() }}">{{ metadata.title() }}</a></th>
        <td class="source">
      {%- if let Some(source) = metadata.sources().first() -%}
          <a href="{{ source.url() }}">{{ source.name() }}</a>
      {%- else -%}
          {{ PLACEHOLDER }}
      {%- endif -%}
        </td>
        <td class="tags">
      {%- let tags = metadata.tags() -%}
      {%- if tags.is_empty() -%}
          {{ PLACEHOLDER }}
      {%- else -%}
        {%- for tag in tags -%}
        <span class="tag"><a href="/search?query=tag:{{ tag.to_lowercase() }}">{{ tag }}</a></span>&nbsp;
        {%- endfor -%}
      {%- endif -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
    </tbody>
  </table>
</details>
{%- endfor %}
{%- endblock content -%}
